.login {
    width: 40%;
    max-width: 300px;
    margin-left: 30%;
    margin-top: 10rem;
    height: 20rem;
}

.centered {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: inherit;
  }
  
  .submit {
    display: flex;
    flex-direction: column;
    align-items:flex-end;
    justify-content: center;
  }

@media screen and (max-width: 800px) {
    .login {
        width: 100%;
        max-width: 600px;
        margin-left: 0px;
        margin-top: 0px;
        height: 100%;
    }
}