.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
  background-color: #A6212C;

}

.sidenav .mat-toolbar {
  background: inherit;
  color: white;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.logo {
  width: 60px;
  padding: 10px;
}

.banner-text{
  padding-left: 10px;
  padding-top: 10px;
  
}

.title {
  color: #A6212C;
}

.menu-toggle-button {
  background-color: #85AFAF;
}

@media screen and (max-width: 800px) {
  .slogan {
    display: none;
  }

  .banner-text {
    padding-top: none;
    padding-bottom: 10px;
  }
}